<div
  class="canvas"
  #canvas
  [style.width.px]="canvasWidth"
  [style.height.px]="canvasHeight"
  [ngStyle]="getCanvasStyles()"
>
  <div
    *ngFor="let element of elements; trackBy: trackByFn"
    class="element"
    cdkDrag
    (cdkDragEnded)="onDragEnd($event, element)"
    [style.width.px]="element.width * cellSize"
    [style.height.px]="element.height * cellSize"
    [cdkDragFreeDragPosition]="{x: element.x * cellSize, y: element.y * cellSize}"

  >
    {{ element.name }}

    <button (click)="alignElement(element)" class="auto-align">Auto Align</button>
  </div>
  <!-- <div *ngFor="let row of canvasMatrix; let rowIndex = index">
    <div *ngFor="let cell of row; let colIndex = index" class="cell" [ngStyle]="getCellStyle(rowIndex, colIndex)"></div>
  </div> -->
</div>

<button (click)="addElement()">Add Element</button>


<!-- <div class="canvas" #canvas [style.width.px]="canvasWidth" [style.height.px]="canvasHeight" [ngStyle]="getCanvasStyles()">
  <div *ngFor="let element of elements; trackBy: trackByFn" class="element" cdkDrag (cdkDragEnded)="onDragEnd($event, element)" [style.width.px]="element.width * cellSize" [style.height.px]="element.height * cellSize" [style.transform]="'translate(' + element.x * cellSize + 'px, ' + element.y * cellSize + 'px)'" (click)="alignElement(element)">
    {{element.name}}
  </div>
</div>

<button (click)="addElement()">Add Element</button> -->
